.calendar {
	top: 0em;
	left: 1em;
	padding-top: 7px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	position: absolute;
}

.calendar::before,
.calendar::after {
	content: "";
	width: 10px;
	height: 10px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}
.calendar::before {
	left: 11px;
	float: left;
	margin-top: -3px;
	margin-left: 13px;
}
.calendar::after {
	right: 11px;
	float: right;
	margin-top: -3px;
	margin-right: 13px;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #ffffff;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
}

.calendar em:before,
.calendar em:after {
	content: " ";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: rgb(199, 199, 199);
	z-index: 2;
	border-radius: 5px;
	margin-top: -74px;
}
.calendar em:before {
	left: 13px;
	float: left;
	margin-left: 16.1px;
}
.calendar em:after {
	right: 13px;
	float: right;
	margin-left: 30px;
}
